﻿@model Syndicata.Models.ActionCopropriete

@{
    ViewBag.Title = "Details";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Details des actions</h2>
    <div>
        <h4>ActionCopropriete</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Copropritaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Copropritaire.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SyndicReporteur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SyndicReporteur.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Libelle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Libelle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Motif)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Motif)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActionType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActionType)
            </dd>

        </dl>
    </div>
    <div>
        <p>
            @Html.ActionLink("Modifier l'action", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger float-right" })
            @Html.ActionLink("Retourner a la liste des actions", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
        </p>
    </div>

</div>

