﻿@model IEnumerable<Syndicata.Models.ActionCopropriete>

@{
    ViewBag.Title = "Gestion des actions :";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Gestion des actions :</h2>

   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Copropritaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyndicReporteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Copropritaire.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SyndicReporteur.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Libelle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionType)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            @Html.ActionLink("Créer une nouvelle action", "Create", null, new { @class = "btn btn-danger float-right" })
        </p>
        
    </div>

</div>
