﻿@model Syndicata.Models.AssembleGeneral

@{
    ViewBag.Title = "Delete";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Supprimer l'assemblé générale</h2>
    <h3 class="margin-bottom-1-em">Êtes-vous sûr de vouloir le supprimer?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Copropriete.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Copropriete.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Motif)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Motif)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Resume)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resume)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAssemble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAssemble)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <div>
            <p>
                @Html.ActionLink("Retourner a la liste des appartements", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
            </p>
        </div>


            </div>
        }
    </div>

    </div>