﻿@model Syndicata.Models.AssembleGeneral

@{
    ViewBag.Title = "Details";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Details de l'assemblé générale :</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Copropriete.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Copropriete.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Motif)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Motif)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Resume)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resume)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAssemble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAssemble)
            </dd>

        </dl>
    </div>
    <div>
        <p>
            @Html.ActionLink("Modifier l'assemblé générale", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger float-right" })
            @Html.ActionLink("Retourner a la liste des assemblés générales", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
        </p>
    </div>

</div>
