﻿
@{
    ViewBag.Title = "Contact";
}

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-contact py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title">Contact Us</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Acceuil</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> contact</li>
        </ul>
    </div>
</section>
<!-- contact-form 2 -->
<section class="w3l-contact-2 py-5">
    <div class="contact-infubd section-gap py-lg-5 py-md-4">
        <div class="container">
            <div class="contact-grids d-grid">
                <div class="contact-right">
                    <h4>Lessez à nous un message</h4>
                    <h6>Pour plus des informations contactez nous :</h6>
                    <div class="hours">
                        <h6 class="info mt-3">Email:</h6>
                        <p>
                            <a href="contact.syndicata@gmail.com">
                                contact.syndicata@gmail.com
                            </a>
                        </p>
                        <h6 class="info mt-3">Address:</h6>
                        <p> Marrakech ,Massira.</p>
                        <h6 class="info mt-3">Contact:</h6>
                        <p class="margin-top"><a href="tel:05 24 10 20 52 ">05 24 10 20 52 </a></p>
                    </div>
                </div>
                <div class="contact-left">
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                        <div class="input-grids">
                            <input type="text" name="w3lName" id="w3lName" placeholder="Votre nom*"
                                   class="contact-input" />
                            <input type="email" name="w3lSender" id="w3lSender" placeholder="Votre Email*"
                                   class="contact-input" required="" />
                            <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Subject*"
                                   class="contact-input" />
                        </div>
                        <div class="form-input">
                            <textarea name="w3lMessage" id="w3lMessage" placeholder="Message..."
                                      required=""></textarea>
                        </div>
                        <button class="btn btn-style btn-primary submit">Envoyer</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
