﻿
@{
    ViewBag.Title = "NoAccess";
}

<center>
    <span style="font-size:15em; font-weight:bolder;">403</span>
    <p style="font-size:3em">
        Vous avez pas le droit pour acceder a cette page
    </p>
    <div class="container">
        <hr />
    </div>
    <br />
</center>