﻿@model Syndicata.Models.Person

@{
    ViewBag.Title = "Mon profil";
}


<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Mon profile</h2>

    <div>
        <h4>@Model.FullName</h4>
        <hr />

        <center>
            @if (ViewBag.Succes != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Succes
                </div>
            }
        </center>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateNaissance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.ActionLink("Modifier mon mot de passe", "EditPassword", "Account")
            </dd>
        </dl>
    </div>

    <div>
        <p>
            @Html.ActionLink("Retourner a la page d'acceuil", "Index", "Home",null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
        </p>
    </div>

</div>