﻿@model Syndicata.Models.Copropriete

@{
    ViewBag.Title = "Delete";
 
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Supprimer la copropriété</h2>
    <h3 class="margin-bottom-1-em">Êtes-vous sûr de vouloir le supprimer?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Syndic.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Syndic.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SyndicAdjoint.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SyndicAdjoint.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tresorerie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tresorerie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnneConstruction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnneConstruction)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <div>
            <p>
                @Html.ActionLink("Retourner a la liste des copropriétés", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
            </p>
        </div>

    </div> 
        }
    </div>
</div>