﻿@model IEnumerable<Syndicata.Models.Copropriete>

@{
    ViewBag.Title = "Index";
 
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">
        Gestion des copropriétés
    </h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tresorerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneConstruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Syndic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyndicAdjoint)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tresorerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnneConstruction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Syndic.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SyndicAdjoint.FullName)
                </td>

                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            @Html.ActionLink("Créer un nouveau copropriété", "Create", null, new { @class = "btn btn-danger float-right" })
        </p>
    </div>

</div>
