﻿@model Syndicata.Models.Paymant

@{
    ViewBag.Title = "Details de paymant";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Details de paymant : </h2>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Payant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Payant.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Montant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Montant)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Libelle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Libelle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatePaymant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePaymant)
            </dd>

        </dl>
    </div>
    <div>
        <p>
            @Html.ActionLink("Modifier le paymant", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger float-right" })
            @Html.ActionLink("Retourner a la liste des paymants", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
        </p>
    </div>

</div>

