﻿@model IEnumerable<Syndicata.Models.Paymant>

@{
    ViewBag.Title = "Index";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Gestion des paymants : </h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePaymant)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Payant.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Montant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Libelle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePaymant)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            @Html.ActionLink("Créer un nouveau paymant", "Create", null, new { @class = "btn btn-danger float-right" })
        </p>
    </div>

</div>
