﻿@model Syndicata.Models.Appartement

@{
    ViewBag.Title = "Delete";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Supprimer l'appartement</h2>
    <h3 class="margin-bottom-1-em">Êtes-vous sûr de vouloir le supprimer?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Propritaire.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Propritaire.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Residence.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Residence.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumeroAppartement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumeroAppartement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surface)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surface)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Etage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Etage)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <div>
                    <p>
                        @Html.ActionLink("Retourner a la liste des appartements", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
                    </p>
                </div>

            </div>
        }
    </div>
</div>  