﻿@model Syndicata.Models.Appartement

@{
    ViewBag.Title = "Details";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Details de l'appartement numero @Model.NumeroAppartement</h2>
    <div>
        <h4>Appartement</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Propritaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Propritaire.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Propritaire.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Propritaire.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Residence)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Residence.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumeroAppartement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumeroAppartement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surface)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surface)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Etage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Etage)
            </dd>

        </dl>
    </div>
    <div>
        <p>
            @Html.ActionLink("Modifier l'appartement", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger float-right" })
            @Html.ActionLink("Retourner a la liste des appartements", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
        </p>
    </div>

</div>

