﻿@model Syndicata.Models.Person

@{
    ViewBag.Title = "Details d'utilisateur";
}

<div class="container margin-bottom-15">
    <h2 class="margin-bottom-1-em">Details de @Model.FullName</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Civilite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Civilite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateNaissance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoleId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoleId)
            </dd>

        </dl>
    </div>
    <div>
        <p>
            @Html.ActionLink("Modifier l'utilisateur", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger float-right" }) 
            @Html.ActionLink("Retourner a la liste des utilisateurs", "Index", null, new { @class = "btn btn-danger float-right margin-right-0-5-em" })
        </p>
    </div>
</div>
